:root
{
    --background-color: #fafafa;
    --card-color: #ffffff;
    --color-title: #262626;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body
{
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.6rem;
    background-color: var(--background-color);
}

.card
{
    inline-size: 320px;
    border-radius: 10px;
    /* margin: 120px auto; */
    border: 1px solid #dbdbdb;
    background-color: white;
}


.card__picture
{
    display: flex;
    align-items: center;
    inline-size: 100%;
    block-size: 300px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    background-color: #262626;
}

.card__img
{
    border-radius: 10px 10px 0 0;
    inline-size: 100%;
    object-fit: cover;
}

.card__icons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    block-size: 40px;
    padding: 0 10px;
}
.card__button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #262626;
    font-size: 30px;
}
    /* .card__header
    {
        display: flex;
        align-items: center;
        block-size: 56px;
    }
    
    .card__figure-avatar
    {
        inline-size: 42px;
        block-size: 42px;
        background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        border-radius: 50%;
    }
    .card__img-avatar
    {
        display: block;
        inline-size: 90%;
        margin: 2px auto;
        border-radius: 50%;
        border: 2px solid white;
    }
    .card__name-perfil
    {
        margin-inline-start: 10px;
        font-weight: 700;
        font-size: 1.4rem;
    } */